menu "Sistema Embarcado"

    choice ESP_MODE
        bool "Selecione o modo de operação da ESP"
        default ESP_MODE_RECEIVER
        
        config ESP_MODE_SENDER
            bool "Modo de operação para envio"
        config ESP_MODE_RECEIVER
            bool "Modo de operação para escuta"
    endchoice
endmenu