menu "Sistema Embarcado"

    choice ESP_MODE
        bool "Selecione o modo de operação da ESP"
        default ESP_MODE_RECEIVER
        
        config ESP_MODE_SENDER
            bool "Modo de operação para envio"
        config ESP_MODE_RECEIVER
            bool "Modo de operação para escuta"
    endchoice
endmenu

menu "Configuração do Wifi"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "ssid"
        help
            Nome da rede Wifi.

    config ESP_WIFI_PASSWORD
        string "Senha do Wifi"
        default "minha_senha"
        help
            Senha do WiFi (WPA or WPA2).

    config ESP_MAXIMUM_RETRY
        int "Número máximo de tentativas de conexão"
        default 5
        help
            Configure o valor máximo de tentativas de conexão.
endmenu

menu "Modo de Energia"

    choice ESP_ENERGY_OR_LOW_POWER_MODE
        bool "Selecione o modo de energia da placa (energia ou low power)"
        default ESP_ENERGY_MODE
        
        config ESP_ENERGY_MODE
            bool "Modo de funcionamento (Energia)"
        config ESP_LOW_POWER_MODE
            bool "Modo de funcionamento (Low power)"
    endchoice
endmenu
